<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-1693">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-text-group">
                <h2 class="cs-title">Focused Advocacy for 
                    Clients’ Rights</h2>
                <p class="cs-text">
                    Don’t wait to defend your rights. Whether you face immigration challenges, injuries, or criminal charges, our attorneys are ready to fight for you.
                </p>
            </div>
            <a href="/contact/" class="cs-button-solid cs-secondary">Schedule Your Free Case Review</a>
        </div>
    </div>
    <img class="cs-floater cs-floater1" src="/assets/images/cta1.png" alt="shield" width="148" height="360" aria-hidden="true" loading="lazy" decoding="async">
    <img class="cs-floater cs-floater2" src="/assets/images/cta2.png" alt="shield" width="148" height="360" aria-hidden="true" loading="lazy" decoding="async">
</section>