---
title: "Reviews | Code Stitch Web Designs"
description: "Meta description for the page"
permalink: "/reviews/"
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-559">
    <div class="cs-container">
        <span class="cs-int-title">Reviews</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 640, height: 582 }) | webp %}" type="image/webp">
        <!--Tablet Image-->
        <source media="(max-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2048, height: 730 }) | webp %}" type="image/webp">
        <!--Desktop Image-->
        <source media="(min-width: 1024px)" srcset="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 501 }) | webp %}" type="image/webp">
        <img src="{% getUrl "/assets/images/banner.jpg" | resize({ width: 2500, height: 501 }) | jpeg %}" alt="professional lawyers book" width="1920" height="385" decoding="async">
    </picture>
</div>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-990">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">What Clients Say</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Alejandra H.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        I am infinitely grateful to attorney David Focil and his entire team for the work done on my case. Everything perfect, punctual, organized and with a lot of communication. A recognition to David and Nataly who all the time advised and guided me in this process.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Ignacio C.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        He helped me to renew my green card, went very smoothly with a fantastic service. Definitely will consider him for any future needs.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Maria C.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Great support and advisory getting my citizenship. The lawyer answered all my questions and I had permanent access to see my case on a very friendly system. Money well spent. Thank you David!
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">David A.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Great knowledge about immigration services. Very professional staff. Strongly recommended. 100% satisfaction.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Jorge C.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        I had a great experience sharing my concerns and getting prompt responses with kindness.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Ernesto F.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Excellent work by Focil Legal PLLC. They were always on top of the case. They obtained our family's work permits and court clearance in a very short time. We continue to work with them for future legal proceedings in the country.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Dani F.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Thanks to them, my boyfriend and I received our work permit earlier than expected. We are very grateful. They are handling our asylum case and are always attentive to everything we needed with our case. We highly recommend them. The buffet is super efficient.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Yolany P.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        I've only been with them for a short time, but they keep me informed of everything that's happening in my case and respond to my concerns extremely quickly. They're one of those law firms that pays attention to what they're doing.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Pedro H.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        It is a united team that meets the expectations of its clients, where the client is the priority, thanks to the Focil Legal team.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Abraham R.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Excellent lawyer, cares about your case and tries to help you in the best way possible.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Fernando C.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Excellent service.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Nelia R.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        Excellent office, I recommend it.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Alijef B.</span>
                    <span class="cs-desc">Google</span>
                    <p class="cs-item-text">
                        I recommend it.
                    </p>
                </div>
            </li>         
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Francisco J. K.</span>
                    <span class="cs-desc">Yelp</span>
                    <p class="cs-item-text">
                        He helped one of my best clients on getting a green card. Sharp and great professional. Very well recommended.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Maria M.</span>
                    <span class="cs-desc">Yelp</span>
                    <p class="cs-item-text">
                        Extremely grateful with David for helping our family with our situation!!! He is always so dependable, knowledgeable and reliable, hands down best lawyer!
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-flex">
                    <span class="cs-name">Ignacio C.</span>
                    <span class="cs-desc">Yelp</span>
                    <p class="cs-item-text">
                        Excellent service, very professional with very satisfactory results; from now on whenever someone needs an immigration lawyer I'm sending them straight to him, no doubt.
                    </p>
                </div>
            </li>
               
        </ul>
    </div>
</section>

{% endblock %}