/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-297 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            max-width: (522/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-link {
            font-size: (20/16rem);
            font-weight: 700;
            text-decoration: none;
            color: var(--primary);
        }

        .cs-list-header {
            font-family: var(--headerFont);
            font-weight: 700;
            margin-bottom: (16/16rem);
            font-size: clamp((20/16rem), 3vw, (25/16rem));
            line-height: (24/16em);
            color: var(--headerColor);
            text-align: inherit;
        }

        .cs-image-group {
            width: 100%;
            max-width: (550/16rem);
            /* 78px - 108px */
            margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
            position: relative;
            display: block;
            /* width divided by height */
            aspect-ratio: 328/363;
        }

        .cs-picture {
            /* big background image */
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-box {
            /* 204px - 326px & changes at desktop */
            width: clamp(12.75rem, 50vw, 20.375rem);
            height: clamp(12.75rem, 50vw, 20.375rem);
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            left: 50%;
            /* 38px - 60px - wrapped in a calc function to make clamp values negative */
            bottom: ~"calc(clamp(2.375rem, 7.9vw, 3.75rem) *-1)";
            transform: translateX(-50%);
            z-index: 10;
        }

        .cs-box-picture {
            /* Background image for cs-box */
            width: 100%;
            height: 100%;
            background-color: #000;
            /* clips img corners and bg corners */
            overflow: hidden;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0.65;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-number {
            /* 75px - 100px */
            font-size: clamp(4.6875rem, 8vw, 6.25rem);
            line-height: 1em;
            font-weight: 700;
            margin-bottom: (8/16rem);
            color: var(--headerColor);
            /* creates the transparent clipping text */
            mix-blend-mode: screen;
            display: block;
            z-index: 10;

            &:before {
                /* opaque white box - For mix-blend-mode to work, we need the 
                   white box inside the .cs-number, so we use a pseudo element.
                   We DON'T add a position to the cs-number so the pseudo positions
                   itself relative to the .cs-box, which has position relative. This
                   allows us to center to .cs-number pseudo inside the .cs-box */
                content: "";
                /* 184px - 294px & changes at desktop */
                width: clamp(11.5rem, 45vw, 18.375rem);
                height: clamp(11.5rem, 45vw, 18.375rem);
                opacity: 1;
                background-color: #fff;
                position: absolute;
                display: block;
                /* these next 3 properties are an old school way to center an absolutely
                   positioned element inside a relative position parent */
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: -1;
            }
        }

        .cs-desc {
            /* 16px - 25px */
            font-size: clamp(1rem, 4vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: lowercase;
            text-align: center;
            width: 80%;
            color: var(--headerColor);
            position: relative;
            z-index: 10;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-297 {
        /* aligns the button */
        text-align: left;

        .cs-container {
            max-width: (1280/16rem);
            /* set to horizontal arrangement */
            flex-direction: row;
            justify-content: space-between;
            gap: (160/16rem);
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-image-group {
            width: 40vw;
            max-width: (521/16rem);
            /* 520px - 672px */
            height: clamp(32.5rem, 51.9vw, 42rem);
            margin: 0;
        }

        .cs-box {
            /* 251px - 325px */
            width: clamp(15.6875rem, 24.5vw, 20.3125rem);
            height: clamp(15.6875rem, 24.5vw, 20.3125rem);
            left: auto;
            transform: none;
            /* -52px to -102px */
            right: ~"calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) *-1)";
            /* 62px - 80px */
            bottom: clamp(3.875rem, 6.2vw, 5rem);
        }

        .cs-number {
            &:before {
                /* 226px - 293px */
                width: clamp(14.125rem, 22.7vw, 18.3125rem);
                height: clamp(14.125rem, 22.7vw, 18.3125rem);
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-297 {

            .cs-topper {
                color: var(--secondaryLight);
            }

            .cs-title,
            .cs-text, .cs-list-header {
                color: var(--bodyTextColorWhite);
            }

            .cs-link {
                color: var(--secondaryLight);
            }

            .cs-li {
                &:before {
                    background-color: var(--secondary);
                }
            }

            .cs-text {
                opacity: 0.8;
            }
        }
    }
}   

/*-- -------------------------- -->
<---        Why Choose Us       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #why-choose-1710 {
        /* moved padding to the container so the cs-picture can be full width */
        position: relative;
        overflow: hidden;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            /* moved to container instead of section, moves back to the section container at tablet */
            padding: var(--sectionPadding);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 3.9vw, 4rem);
            position: relative;
            z-index: 1;

            &:before {
                /* light grey background overlay */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--headerColor);
                opacity: 1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-flex {
            max-width: (616/16rem);
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            margin: 0;
            max-width: 23ch;
            color: #fff;
        }

        .cs-text, .cs-text-top {
            color: #fff;
            margin-bottom: (16/16rem);
        }

        .cs-text-top {
            font-size: (18/16rem);
            margin-top: (16/16rem);
        }

        .cs-text {
            font-size: (15/16rem);
            color: #BABABA;
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            /* 16px - 32px */
            gap: clamp(1rem, 3.2vw, 2rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            /* 16px - 32px */
            gap: clamp(1rem, 2vw, 2rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: (16/16rem);
        }

        .cs-item-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (8/16rem);
        }

        .cs-item-number {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 400;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-picture {
            width: 100%;
            max-width: (1280/16rem);
            /* 340px - 620px */
            height: clamp(21.25rem, 47vw, 38.75rem);
            display: block;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            /* clips the img from overflowing the container on hover */
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-floater {
            /* 246px - 582px */
            width: clamp(15.375rem, 50vw, 36.375rem);
            height: auto;
            position: absolute;
            right: (-64/16rem);
            top: (-8/16rem);
            z-index: -1;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #why-choose-1710 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 60px - 100px */
        gap: clamp(3.75rem, 3.9vw, 6.25rem);

        .cs-container {
            padding: 0;

            &:before {
                width: 130vw;
                height: 200%;
                top: (-150/16rem);
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 45%;
            max-width: (640/16rem);
            flex: none;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            align-self: stretch;
        }

        .cs-right {
            width: 45%;
        }
        
        .cs-wrapper {
            flex-direction: row;
            align-items: flex-start;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #why-choose-1710 {
            
            .cs-container {
                &:before {
                    background-color: #000;
                    opacity: .6;
                }
            }

            .cs-title,
            .cs-h3,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text {
                opacity: 0.8;
            }

            .cs-floater {
                opacity: 0.1;
            }
        }
    }
}
    
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-990 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 24ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            grid-column: span 12;
            grid-row: span 1;
        }

        .cs-flex {
            text-align: left;
            width: 100%;
            /* prevents padding from affecting height and wodth */
            box-sizing: border-box;
            /* 16px - 32px */
            padding: clamp(1rem, 3vw, 2rem);
            border: 1px solid #E8E8E8;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.3vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
        }

        .cs-desc {
            font-size: (16/16rem);
            font-weight: 400;
            line-height: 1.5em;
            /* 8px - 28px */
            margin: 0 0 clamp(0.5rem, 3.2vw, 1.75rem);
            opacity: 0.8;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-overflow: ellipsis;
            margin: 0;
            overflow: hidden;
            opacity: 0.8;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            width: auto;
            margin: 0;
            margin-top: auto;
            padding-top: (16/16rem);
            color: var(--primary);
            display: inline-block;
            position: relative;
            transition: color 0.3s;
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
    #reviews-990 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            display: flex;
            flex-direction: row;
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-990 {

            .cs-title,
            .cs-name,
            .cs-desc,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item-text,
            .cs-desc {
                opacity: 0.8;
            }

            .cs-flex {
                border-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}   

/*-- -------------------------- -->
<---            Blog            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #blog-988 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        padding-top: 0;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin-bottom: (32/16rem);
            max-width: 20ch;
        }

        .cs-button-solid {
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            position: relative;

            &:hover {
                cursor: pointer;
                .cs-info {
                    &:before {
                        opacity: 1;
                        background-color: var(--primary);
                    }
                }

                .cs-picture {
                    img {
                        transform: scale(1.15);
                    }
                }

                .cs-date {
                    color: #fff;
                }

                .cs-icon {
                    filter: brightness(150%);
                }

                .cs-link {
                    color: #fff;
                }
            }
        }

        .cs-picture {
            width: 100%;
            height: (480/16rem);
            /* removed at tablet */
            aspect-ratio: (328/480);
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: transform 0.9s;
            }
        }

        .cs-info {
            width: 83%;
            max-width: (420/16rem);
            /* 16px - 24px */
            padding: clamp(1rem, 2vw, 1.5rem);
            /* prevents padding from affecting the height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 10;

            &:before {
                /* background-color */
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(7, 7, 20, .8);
                backdrop-filter: blur(5px);
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
                transition:
                    background-color 0.3s,
                    opacity 0.3s;
            }
        }

        .cs-date {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (20/16rem) 0;
            color: #bababa;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
            transition: color 0.3s;
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            transition: filter 0.3s;
        }

        .cs-h3 {
            font-size: clamp((20/16rem), 3vw, (25/16rem));
            line-height: 1.2em;
            font-weight: 400;
            margin: 0 0 (12/16rem) 0;
            color: #fff;
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (20/16rem) 0;
            color: #f7f7f7;
            display: block;
        }

        .cs-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-decoration: none;
            width: auto;
            margin: 0;
            color: var(--secondary);
            display: inline-block;
            position: relative;
            transition: color 0.3s;

            &:hover {
                color: #fff;
            }

            &:before {
                /* underline */
                content: "";
                width: 100%;
                height: 1px;
                background: currentColor;
                opacity: 1;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                transition: background-color 0.3s;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #blog-988 {
        .cs-content {
            text-align: left;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: (48/16rem);
        }

        .cs-title {
            margin: 0;
        }

        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-card-group {
            flex-direction: row;
        }

        .cs-picture {
            /* remove the aspect ratio so the height can be squished */
            aspect-ratio: initial;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #blog-988 {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}

/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-1668 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }
    
        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: (0/16rem);
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            gap: (8/16rem);
        }
    
        .cs-item {
            list-style: none;
            text-align: left;
            /* 20px - 40px */
            padding: clamp(1.25rem, 2vw, 2.5rem) (16/16rem);
            grid-column: span 6;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: (16/16rem);
            position: relative;
    
            &:after {
                /* grey lines */
                content: "";
                width: 1px;
                height: 100%;
                top: 0;
                right: 0;
                margin: 0;
                background: #e8e8e8;
                opacity: 1;
                position: absolute;
                display: block;
            }
    
            &:nth-of-type(2) {
                &:after {
                    display: none;
                }
            }
    
            &:last-of-type {
                &:after {
                    display: none;
                }
            }
        }
    
        .cs-header {
            font-family: var(--headerFont);
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
    
        .cs-number {
            /* 60px - 400px */
            font-size: clamp(3.75rem, 9.8vw, 6.25rem);
            line-height: 1em;
            font-weight: 400;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #stats-1668 {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
        }

        .cs-item {
            width: 100%;
            max-width: (260/16rem);
            padding-left: 0;

            &:nth-of-type(1) {
                padding-left: 0;
            }

            &:nth-of-type(2) {
                &:after {
                    display: block;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #stats-1668 {
            background-color: var(--dark);

            .cs-item {
                &:after {
                    opacity: 0.3;
                }
            }

            .cs-number {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}